.heading{ color : red
}
body{
    background-color: black;
}
.hb{
    color:yellow
}
.logbut{
    padding-left: 50;
    padding-right: 50;
}
.reg{
    padding-top: 50;
    padding-left: 500;
}